
html {
    background-color: white ;
}


/* nav container */
nav {
    display: flex;
    justify-content: space-around;
    margin: 50px;
    background-color: rgba(169, 169, 169, 0.144);
    padding: 20px 0px;
    box-shadow: 5px 10px gray;
}
.globe {
    height: 100px;
    width: 100px;
    animation: spin 4s linear infinite;
    transition: transform 1s;

}
div {
    background-color: rgba(169, 169, 169, 0.144);
    
}
a {
    border: 3px solid white;
    color: white;
    background: dodgerblue;
    font-size: 35px;
    text-decoration: none;
    transition: transform 1s;
    position: absolute;
    box-shadow: 3px 5px gray;
    
}

main {
    background-color: rgba(169, 169, 169, 0.144);
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
    box-shadow: 5px 10px gray;
    padding: 20px;
}






/* animations */
.globe:hover {
    transform: scale(1.5);
}

a:hover {
    background-image: url(/images/teamhover.jpg);
}

@keyframes spin { 100% {-webkit-transform: rotate(360deg);}}
