
html {
    background-color: white ;
}


/* nav container */
nav {
    display: flex;
    justify-content: space-around;
    margin: 50px;
    background-color: rgba(169, 169, 169, 0.144);
}
.globe {
    height: 100px;
    width: 100px;
    animation: spin 4s linear infinite;
}

h2 {
    font-size: 35px;
}






/* animations */
@keyframes spin { 100% {-webkit-transform: rotate(360deg);}}
